body {
    background-color: #dbe5df;
    font-family: "Gill Sans MT", "Gill Sans", "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}
.TechnicalStuff {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 0.8em;
}
.BottomStrip {
    background: #9fbfd8;
    text-align: center;
    font-size: 0.85em;
}
.RightToLeft {
    direction: rtl;
}
.Lines {
    width: 100%;
    height: 1px;
    overflow: hidden;
    font-size: 0.5px;
}
.ContentArea {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.8em;
    font-size: 1.0em;
}
a:hover {
    color: red;
}
a.BottomLinks {
    color: #000000;
    text-decoration: none;
}
a.BottomLinks:hover {
    color: red;
    text-decoration: none;
}
h1, h2 {
    margin: 0px;
    font-size: 1.0em;
}
h3.LanguageHeading {
    font-weight: bold
}
#SubTitleDiv {
    background: #9fbfd8;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#NameDiv {
    background: #dbe5df;
    font-size: 1.5em;
    font-family: "Gill Sans MT", "Gill Sans", Helvetica, Humanist, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding-top:0.8em;
}
#TopLinks {
    text-align: center;
    font-size: 0.8em
}
